:root {
    --dnd5e-cm-hpPlus: #06a406;
    --dnd5e-cm-hpMinus: #c50d19;
    --dnd5e-cm-on: #06a406;
    --dnd5e-cm-off: #c50d19;
    --dnd5e-cm-slots: #b042f5;
    --dnd5e-cm-feats: #425af5;
    --dnd5e-cm-effects: #c86400;
    --dnd5e-cm-currency: #b59b3c;
    --dnd5e-cm-proficiency: #37908a;
    --dnd5e-cm-ability: #37908a;
    --dnd5e-cm-sheetMode: #000000;
    --dnd5e-cm-xp: #b59b3c;
    --dnd5e-cm-level: #b59b3c;
    --dnd5e-cm-ac: #37908a;
    --dnd5e-cm-ItemCharges: #425af5;
    --dnd5e-cm-display: 'flex';
}

li.dnd5e-cm {
    padding: 5px !important;
}

div div.dnd5e-cm {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    font-size: var(--font-size-10);
}

/* Must match MONITOR_TYPES */

.message.dnd5e-cm-HPPlus {
    background: var(--dnd5e-cm-hpPlus) !important;
}

.message.dnd5e-cm-HPMinus {
    background: var(--dnd5e-cm-hpMinus) !important;
}

.message.dnd5e-cm-on {
    background: var(--dnd5e-cm-on) !important;
}

.message.dnd5e-cm-off {
    background: var(--dnd5e-cm-off) !important;
}

.message.dnd5e-cm-Feats {
    background: var(--dnd5e-cm-feats) !important;
}

.message.dnd5e-cm-SpellSlots {
    background: var(--dnd5e-cm-slots) !important;
}

.message.dnd5e-cm-Effects {
    background: var(--dnd5e-cm-effects) !important;
}

.message.dnd5e-cm-Currency {
    background: var(--dnd5e-cm-currency) !important;
}

.message.dnd5e-cm-Proficiency {
    background: var(--dnd5e-cm-proficiency) !important;
}

.message.dnd5e-cm-Ability {
    background: var(--dnd5e-cm-ability) !important;
}

.message.dnd5e-cm-SheetMode {
    background: var(--dnd5e-cm-sheetMode) !important;
}

.message.dnd5e-cm-XP {
    background: var(--dnd5e-cm-xp) !important;
}

.message.dnd5e-cm-Level {
    background: var(--dnd5e-cm-level) !important;
}

.message.dnd5e-cm-AC {
    background: var(--dnd5e-cm-ac) !important;
}

.message.dnd5e-cm-ItemCharges {
    background: var(--dnd5e-cm-ItemCharges) !important;
}
